* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 600;
}

/** NAV-TOP */
nav.nav-top {
  background-image: linear-gradient(
    to right,
    rgb(119, 99, 99),
    rgba(207, 46, 207, 0.805)
  );
}

nav.nav-top img {
  width: 50px;
  border: 1px solid rgb(167, 24, 24);
  outline: 3px solid red;
  outline-offset: 3px;
  margin: 5px 5px 5px 5px;
}

.nav-top .sign-in {
  float: right;
  margin: 1.5rem 1rem;
  color: white;
  font-weight: 700;
}

.nav-top .sign-in a {
  color: white;
  text-decoration: none;
}

.nav-top .sign-in a:hover {
  color: black;
}

.clearfix {
  clear: both;
}

/** NAV-MAIN */
nav.nav-main{
  width: 100%;
  height: 100%;
}

.nav-main  {
  display: inline-block;
  position: sticky;
  top: 0;
  background-color: #ffaa53;
  list-style-type: none;
  text-align: center;
  font-size: 1.1rem;
  font-family: "DynaPuff", cursive;
  padding: 2rem;
}

.nav-main a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

nav {
  display: block;
}

.nav-main a:hover {
  color:white;
}

main p {
  margin: 1.5rem 1rem;
}

.slack {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  background-color: red;
  font-size: 2rem;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  padding: 0.2rem;
}

.slack .fa-slack:hover {
  color: black;
 
}